{{# if user  }}
  <button id="logout">Logout</button>
{{/if}}

<h1>Classroom Chat</h1>
{{# if user  }}
  <p id="display">Hello, {{user.username }}! You are logged in.</p>
{{/if}}

<div class="chat" >
  <form id="messageForm">
    <label for="enter-message">Enter Message</label>
    <input id="message"></input>
    <input type="button" name="" value="Send message" id="submitTask">
  </form>
  <div id="chat"></div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io.connect();
    var $messageForm = $('#messageForm');
    var $message = $('#message');
    var $chat = $('#chat');
    var $display = $('#display');
    var $logout = $('#logout');

    $logout.click(function(){
      console.log("logout btn clicked");
      localStorage.clear();
      console.log("localStorage: ", localStorage);
      $display.html('You are logged out!');
      window.location.replace('/logout');

    });

    document.getElementById("submitTask").addEventListener('click', send, false);
    function send(){
      var currentUser = localStorage.getItem('username');
      if(!currentUser) {
        $display.html('You are logged out! You cannot send messages when you are logged out.');
        window.location.replace('/logout');
      } else {
        console.log('currentUser: ', currentUser);
        socket.emit('send message', {'sender': currentUser,
        'message': $message.val()});
        $message.val('');
      }

    }

    socket.on('new message', function(data){
      var oldMessages = '';
      console.log('data received from new message:', data[0]);
      if(data[0]){
        data.forEach(function (messageData){
          oldMessages+='<div><p>'+messageData.username +':'+messageData.msg+'</p></div>';
        })
        document.getElementById('chat').innerHTML = oldMessages;
        console.log('new connection');
      } else {
        $chat.append('<div><p>'+data.username+': '+data.msg+'</p></div>');
        console.log('old connection');
      }
    });

</script>
